    <!--Inicio Header-->
    <header class="page-header">

        <nav class="menu">
            <section class="menu__container">
                <a href="../../index.html"><img class="img-logo" src="../../multimedia/branding/logo_light_horizontal.svg" alt="logo"></a>
                <ul class="menu__links">
                    <li class="menu__item menu__item--show">
                        <a href="../shop/shop.html" class="menu__link" id="todos">SHOP <img src="../../multimedia/icons/arrow.svg" class="menu__arrow"></a>
                        <ul class="menu__nesting">
                            <li class="menu__inside">
                                <a href="../shop/shop_funkos.html" id= "Funko" class="menu__link menu__link--inside">FUNKOS</a>
                            </li>
                            <li class="menu__inside">
                                <a href="../shop/shop_remeras.html" id= "Remera" class="menu__link menu__link--inside">REMERAS</a>
                            </li>
                            <li class="menu__inside">
                                <a href="../shop/shop_llaveros.html" id= "Llavero" class="menu__link menu__link--inside">LLAVEROS</a>
                            </li>
                        </ul>
                    </li>
                <li class="menu__item">
                    <a href="contact.html" class="menu__link">CONTACTO</a>
                </li>
                <li class="menu__item">
                    <a href="login.html" class="menu__link">LOGIN</a>
                </li>
                <li class="menu__item">
                    <a href="../shop/carrito.html" class="menu__link"><img src="../../multimedia/icons/cart-icon.svg" alt=""></a>
                </li>
            </ul>
            <div class="menu__hamburguer">
                <img src="../../multimedia/icons/icons8-menu.svg" class="menu__img">
            </div>
        </section>
    </nav>    
    <!--Fin Header-->
    
</header>